#cmake and CLion trash
.idea
**/CMakeFiles/**
**/Makefile
**/CmakeCache.txt
**/cmake_install.cmake
**/cmake-build-*/**

# Project exclude paths
/debug/
/release/

# No committing logs, exe
**/log.txt
**/ninja.txt
